<% title 'ปลัดเทศบาล' %>

<div class="row">
	<div class="col-sm-10 col-sm-offset-1 event">
		<h2>ปลัดเทศบาล</h2>
	</div>

	<div class="col-sm-10 col-sm-offset-1 event">
		<div class="row">
			 <div class="col-sm-6 col-sm-offset-3">

			 	<div class="thumbnail">

			      <%= image_tag @cl.avatar.url %>

			      <div class="caption">
			        <h4><%= @cl.name %></h4>
			        <p> <%= @cl.officer %> </p>
			      </div>

			    </div>

			</div>
		</div>
	</div>
</div>
