<div class="row"><ul class="nav nav-tabs" role="tablist">
	<li class="active"> <a href="#tab1" role="tab" data-toggle="tab">
		วิสัยทัศน์/พันธกิจ
	</a>
	
</li><li> <a href="#tab2" role="tab" data-toggle="tab">
ตราสัญลักษณ์
</a>
</li><li> <a href="#tab3" role="tab" data-toggle="tab">
ประวัติความเป็นมา
</a>
</li>
</ul>
</div>
<div class="tab-content">
<div class="tab-pane active" id ="tab1"> lo </div>
<div class="tab-pane" id ="tab2"> loa </div>
<div class="tab-pane" id ="tab3"> lo s</div>
</div>