
<!-- <ul class="nav nav-tabs" role="tablist">
	<li class="active"> <a href="#">
วิสัยทัศน์/พันธกิจ
	 </a>
		
	</li>
	<li><a href="#">
		ตราสัญลักษณ์
		 </a>
	</li>
	<li><a href="#">
		ประวัติความเป็นมา
		</a>
	</li>
</ul>
 -->