<% title 'ข้อมูลทั่วไป' %>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1 event">
    <h2>ข้อมูลทั่วไป</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1 info">
      <h4>ที่ตั้งของตําบลปากน้ำ</h4>
      <p>
      	สํานักงานเทศบาลตําบลปากน้ำตั้งอยู่หมู่ที่ 1 บ้านปากน้ำตําบลปากน้ำอําเภอเดิมบาง นางบวช จังหวัด สุพรรณบุรี อยู่ห่างจากที่ว่าการอําเภอเดิมบางนางบวช ไปทางทิศเหนือประมาณ 10 กิโลเมตร สามารถ เดินทางได้โดยถนนสายหลักสาย 340 สุพรรณบุรี - ชัยนาท
      </p>

      <h4>แผนที่เทศบาลตําบลปากน้ำ</h4>
      <%= image_tag("map.jpg") %>

      <p><span>ทิศเหนือ</span> ติดต่อกับ ตําบลวังไก่เถื่อน อําเภอหันคา จังหวัดชัยนาท</p>
      <p><span>ทิศใต้</span> ติดต่อกับ ตําบลเดิมบาง อําเภอเดิมบางนางบวช จังหวัดสุพรรณบุรี </p>
      <p><span>ทิศตะวันออก</span> ติดต่อกับ ตําบลดงคอน อําเภอสรรคบุรี จังหวัดชัยนาท </p>
      <p><span>ทิศตะวันตก</span> ติดต่อกับ ตําบลเดิมบาง อําเภอเดิมบางนางบวช จังหวัดสุพรรณบุรี และตําบลบ้านเชี่ยน อําเภอหันคา จังหวัดชัยนาท </p>

      <h4>เนื้อที่โดยประมาณ</h4>
      <p>ตําบลปากน้ำมีเนื้อที่ทั้งหมดประมาณ 37 ตารางกิโลเมตร หรือประมาณ 23,125 ไร่</p>

      <h4>ลักษณะภูมิประเทศ</h4>
      <p>ลักษณะภูมิประเทศส่วนใหญ่เป็นที่ราบลุ่ม แบ่งออกเป็น 2 ฝั่งแม่น้ำท่าจีน โดยฝั่งแม่น้ำ ท่าจีนด้านทิศ ตะวันออก มีจํานวน 4 หมู่บ้าน คือ หมู่ที่ 1 3 4 และ 7 ส่วนฝั่งแม่น้ำท่าจีน ด้านทิศตะวันตก มี จํานวน 3 หมู่บ้าน คือ หมู่ที่ 2 5 และ 6 มีแม่น้ำท่าจีน ไหลผ่านกลางพื้นที่ของตําบล มีสภาพถนน หนทางสะดวกในการสัญจรไปมา</p>

      <h4>เขตการปกครอง</h4>
      <p>เขตการปกครองของตําบลปากน้ำ แบ่งเขตการปกครองออกเป็น 7 หมู่บ้าน อยู่ในเขตเทศบาลตําบลปากน้ำ ทั้ง 7 หมู่บ้าน โดยแยกพื้นที่การปกครองออกเป็น 7 หมู่บ้าน ดังนี้</p>
	  <div class="table-responsive">
      <table class="table">
	    <tbody>

	      <tr>
	        <td>หมู่ที่ 1</td>
	        <td>บ้านปากน้ำ</td>
	        <td>นายประพันธ์</td>
	        <td>หฤหรรษ์วโรดม</td>
	        <td class="center">กํานัน</td>
	      </tr>

	      <tr>
	        <td>หมู่ที่ 2</td>
	        <td>บ้านท่าสะตือ</td>
	        <td>นายชัยวุฒิ</td>
	        <td>รุ่งโรจน์</td>
	        <td class="center">ผู้ใหญ่บ้าน</td>
	      </tr>

	      <tr>
	        <td>หมู่ที่ 3</td>
	        <td>บ้านท่าทอง</td>
	        <td>นายฉลวย</td>
	        <td>ป้องฉิม</td>
	        <td class="center">ผู้ใหญ่บ้าน</td>
	      </tr>

	      <tr>
	        <td>หมู่ที่ 4</td>
	        <td>บ้านแหลมข่อย</td>
	        <td>นายอดิศักดิ์</td>
	        <td>เข็มเงิน</td>
	        <td class="center">ผู้ใหญ่บ้าน</td>
	      </tr>

	      <tr>
	        <td>หมู่ที่ 5</td>
	        <td>บ้านปากน้ำ</td>
	        <td>นายบุญเลิศ</td>
	        <td>ภูณรงค์</td>
	        <td class="center">ผู้ใหญ่บ้าน</td>
	      </tr>

	      <tr>
	        <td>หมู่ที่ 6</td>
	        <td>บ้านปากคลอง</td>
	        <td>นายไชยยันต์</td>
	        <td>อยู่ศรี</td>
	        <td class="center">ผู้ใหญ่บ้าน</td>
	      </tr>

	      <tr>
	        <td class="last">หมู่ที่ 7</td>
	        <td class="last">บ้านท่ามะกอก</td>
	        <td class="last">นายสิทธิโชค</td>
	        <td class="last">เทพพันธ์</td>
	        <td class="center last">ผู้ใหญ่บ้าน</td>
	      </tr>

	      </tbody>
	    </table>
	    </div>
	    <%= link_to(">>> ดาวน์โหลด แผนพัฒนาสามปี (พ.ศ.2558 – 2560) เทศบาลตําบลปากน้ํา <<<", "plan3yr.pdf", :target => "_blank") %>
  </div>
</div>