<<<<<<< HEAD
<h1>News#info</h1>
<p>Find me in app/views/news/info.html.erb</p>
=======
<div class="row">
  <div class="bs-example">
    <table class="table">
      <thead>
        <tr>
          
          <th>หัวข้อเอกสาร</th>
          <th>วันที่</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
         
          <td>Mark</td>
          <td>Otto</td>
          
        </tr>
        <tr>
          
          <td>Jacob</td>
          <td>Thornton</td>
          
        </tr>
        <tr>
          
          <td>Larry</td>
          <td>the Bird</td>
         
        </tr>
      </tbody>
    </table>
  </div>
</div>
>>>>>>> origin/frontend
