<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <div class="col-sm-8">
      <p> <h4> หัวข้อ: <%= @an.title %></h4> </p>
      <p> <h4> วันที่: <%= @an.created_at.strftime("%d-%m-%Y") %> </p> </h4>
      <p> <h4> category : <%= @an.category %> </p> </h4>
      <p> <h4> <%= link_to("PDF", @an.file.url) %> </h4> </p>
    </div>
    
  </div>
</div>