<<<<<<< HEAD
<h1>Event#index</h1>
<p>Find me in app/views/event/index.html.erb</p>
=======
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		
		<div class="col-sm-3">
			<%= image_tag("src") %>
		</div>

		<div class="col-sm-3">
			<p> <h4> หัวข้อภาพ: </h4> </p>
			<p> <h4>  จำนวนภาพ: </p> </h4>
			<p> <h4> จำนวนผู้ชม: </p> </h4>
			<p> <h4> วันที่: </p> </h4>		
		</div>

		<div class="col-sm-6">
			<p>asdas</p>
		</div>

	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		
		<div class="col-sm-3">
			<%= image_tag("src") %>
		</div>

		<div class="col-sm-3">
			<p> <h4> หัวข้อภาพ: </h4> </p>
			<p> <h4>  จำนวนภาพ: </p> </h4>
			<p> <h4> จำนวนผู้ชม: </p> </h4>
			<p> <h4> วันที่: </p> </h4>		
		</div>

		<div class="col-sm-6">
			<p>asdas</p>
		</div>

	</div>
</div>
>>>>>>> origin/frontend
