/* line 5, ../../app/assets/stylesheets/chart.css.scss */
.thumbnail {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 8, ../../app/assets/stylesheets/chart.css.scss */
.thumbnail img {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 12, ../../app/assets/stylesheets/chart.css.scss */
.thumbnail .caption {
  text-align: center;
}
/* line 14, ../../app/assets/stylesheets/chart.css.scss */
.thumbnail .caption h4 {
  font-weight: bolder;
}
/* line 17, ../../app/assets/stylesheets/chart.css.scss */
.thumbnail .caption p {
  font-size: .9em;
}

/* line 23, ../../app/assets/stylesheets/chart.css.scss */
ul.custom-nav {
  background: none !important;
}
/* line 29, ../../app/assets/stylesheets/chart.css.scss */
ul.custom-nav li a {
  border: none !important;
}
/* line 36, ../../app/assets/stylesheets/chart.css.scss */
ul.custom-nav li a:hover {
  background-color: none !important;
}
/* line 41, ../../app/assets/stylesheets/chart.css.scss */
ul.custom-nav li:hover {
  background-color: none !important;
}
