/* line 3, ../../app/assets/stylesheets/contact.css.scss */
.contact {
  padding-left: 30px;
  font-size: .9em;
}
/* line 6, ../../app/assets/stylesheets/contact.css.scss */
.contact h3 {
  border-bottom: 1px #000 solid;
  padding-bottom: 5px;
}
/* line 10, ../../app/assets/stylesheets/contact.css.scss */
.contact i, .contact i.l {
  margin-right: 20px;
}
/* line 14, ../../app/assets/stylesheets/contact.css.scss */
.contact i.l {
  margin-left: 20px;
}
