/* line 4, ../../app/assets/stylesheets/event.css.scss */
.event {
  margin-top: 20px;
  padding-bottom: 20px;
}
/* line 8, ../../app/assets/stylesheets/event.css.scss */
.event h2 {
  text-align: center;
  text-decoration: none !important;
  border-bottom: 2px solid #333;
}
/* line 13, ../../app/assets/stylesheets/event.css.scss */
.event .event-img {
  margin-bottom: 20px;
}
/* line 16, ../../app/assets/stylesheets/event.css.scss */
.event .event-img img {
  width: 100%;
  border: 1px solid #49b35e;
  border-radius: 3px;
}
/* line 23, ../../app/assets/stylesheets/event.css.scss */
.event .event-content {
  font-size: 20px;
}
/* line 25, ../../app/assets/stylesheets/event.css.scss */
.event .event-content p {
  font-size: .8em;
  text-indent: 20px;
}
/* line 29, ../../app/assets/stylesheets/event.css.scss */
.event .event-content h3 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
  border-top: 2px solid #333;
  margin-top: 0px;
}
/* line 37, ../../app/assets/stylesheets/event.css.scss */
.event .event-content h3 a {
  text-decoration: none;
  color: #000;
  display: block;
}
/* line 46, ../../app/assets/stylesheets/event.css.scss */
.event .event-content h3:hover a {
  color: #fff;
}
/* line 51, ../../app/assets/stylesheets/event.css.scss */
.event h5 {
  position: absolute;
  bottom: 10px;
  right: 35px;
  color: #49b35e !important;
}

/* line 62, ../../app/assets/stylesheets/event.css.scss */
.show-event a {
  margin-top: 20px;
  float: right;
  color: #000;
}
/* line 67, ../../app/assets/stylesheets/event.css.scss */
.show-event .show-img {
  margin-top: 20px;
}
/* line 69, ../../app/assets/stylesheets/event.css.scss */
.show-event .show-img img {
  width: 100%;
  display: block;
  margin: auto;
}
/* line 76, ../../app/assets/stylesheets/event.css.scss */
.show-event .show-img #slider {
  margin-bottom: -1px !important;
  border-radius: 0 !important;
}
/* line 82, ../../app/assets/stylesheets/event.css.scss */
.show-event .content-event h1 {
  text-decoration: underline;
  padding-top: 10px;
  text-align: center;
}
/* line 87, ../../app/assets/stylesheets/event.css.scss */
.show-event .content-event p {
  text-indent: 20px;
  text-align: justify;
}
/* line 93, ../../app/assets/stylesheets/event.css.scss */
.show-event .show-sub {
  text-align: right;
  color: #333 !important;
}
/* line 98, ../../app/assets/stylesheets/event.css.scss */
.show-event #carousel {
  border-radius: 0 !important;
  margin-bottom: 20px !important;
}
/* line 102, ../../app/assets/stylesheets/event.css.scss */
.show-event #carousel ul.slides li {
  border: 1px #333 solid;
}
/* line 105, ../../app/assets/stylesheets/event.css.scss */
.show-event #carousel ul.slides li:hover {
  cursor: pointer;
}

/* line 112, ../../app/assets/stylesheets/event.css.scss */
.line {
  border-bottom: 2px #333 dashed;
}
