/* line 4, ../../app/assets/stylesheets/home.css.scss */
.ico {
  position: absolute;
  left: 10%;
  top: 22%;
}

/* line 9, ../../app/assets/stylesheets/home.css.scss */
.so {
  position: absolute;
  right: 14%;
  top: 33%;
}

/* line 16, ../../app/assets/stylesheets/home.css.scss */
.info h2 {
  text-align: center;
}

/* line 22, ../../app/assets/stylesheets/home.css.scss */
footer .row {
  background-color: #2F361C;
}
/* line 26, ../../app/assets/stylesheets/home.css.scss */
footer .last {
  background-color: #333;
}

/* line 32, ../../app/assets/stylesheets/home.css.scss */
.ula {
  padding: 0;
}
/* line 34, ../../app/assets/stylesheets/home.css.scss */
.ula li {
  padding: 10px;
  border-bottom: 1px solid white;
  width: 100%;
}
/* line 39, ../../app/assets/stylesheets/home.css.scss */
.ula a {
  text-decoration: none;
  color: #fff;
}
/* line 43, ../../app/assets/stylesheets/home.css.scss */
.ula a:hover {
  color: #111;
}
/* line 46, ../../app/assets/stylesheets/home.css.scss */
.ula a:links {
  color: #fff;
}
