// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic);

.wysihtml5-sandbox{
	width: 100% !important;
	height: 450px !important;
	margin-left: -65px !important;
}

.activeadmin-wysihtml5-modal{
	top: 20px !important;
}

.bootstrap-tagsinput {
	width: 75%;
	.tag {
		margin-right: 2px;
		color: white;
	}
}

$skinLogo: url("dum.jpg") no-repeat center center;

$skinActiveColor: #67917A; //green
$skinHeaderBck: #333; // black
$panelHeaderBck: #333; // black

$skinTextColor: #555; // ???
$skinTextActiveColor: #fff; // white
$skinTextTable: #333; // black


@import "active_skin";

html{
	font-family: 'Lato', sans-serif;
	font-size: 18px !important;

	// body{
	// 	padding-bottom: 0px !important;
	// }

	// #footer{
	// 	position: inherit !important;
	// }
}



// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
