// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the top of the
//  * compiled file, but it's generally better to create a new file per style scope.
//  *
//  *= require_self
//  *= require_tree .
//  *= require bootstrap
//  */

 body{
 	background-image: url(rainbow1.jpg) !important;
	background-repeat: no-repeat !important;
	background-position: top;
	background-size: 100% 100%;
 	background-color: rgb(10, 18, 3) !important;
 	img{
 		margin-right: auto;
 		margin-left: auto;
 	}
 }

 .container{
 	width: 100%;
 }

 .nav-custom{
 	width: 100%;
 	.navbar-inverse{
 		margin-bottom: 0px !important;
 	}
 	.navbar-collapse{
 		padding: 0px;
	 	ul.nav-link{
	 		max-height: 280px;
	 		overflow: scroll;
	 		list-style: none;
	 		margin: 0px;
	 		padding: 0px;
	 		li{
	 			
	 			border-bottom: 2px #555 solid;
	 			a{
	 				color: #fff;
	 				display: block;
					padding: 15px 15px 15px 30px;
	 			}
	 		}
	 	}
	}
 }

// .item{
// 	img{
// 		width: 100%;	
// 	}
// 	max-height: 370px;
// }

// // .head-box{
// // 	border-top-left-radius: 50%;
// //  	border-top-right-radius: 50%;
// //  	background-image: url(ok-bg.png);
// // 	// background-repeat: no-repeat;
// // 	// background-size: 80% 100%;
// //     background-position: top;
// //     margin-bottom: 10px;
// // }

.fix-img{
	img{
		width: 100%;
	}
}

.header{
	background-image: url(bg.png);
	// background-repeat: no-repeat;
	background-position: top;
	// margin-right: -15px !important;
}

// .head-title{
// 	margin-bottom: 15px;
// 	border-top-right-radius: 30px;
	
// 	h3{
// 		text-align: center;
// 		color: white;
// 	}
// }

.featured-title{
	background: url(shadow-divider.png) no-repeat center center;
	margin-bottom: 5px;
	.ribbon{
		margin: 0px auto;
		display: table;
		color: #f2f2f2;
		line-height: 59px;
		padding-left: 49px;
		font-size: 20px;
		background: url(ribbon.png) no-repeat top left;
		text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
		span{
			background: url(ribbon.png) no-repeat bottom right;
			display: block;
			line-height: 59px;
			padding-right: 49px;
		}
	}
}

// .huhu{
// 	// margin-top: -900px;
//     // width: 100%;
//     // margin-right: auto;
//     // margin-left: auto;
// }

.box-last{
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: url(box-bot.png) no-repeat top;
	background-size: 100% 100%;
}

// .content{
// 	text-align: center;
// }

img.img-dummy{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

//  .bot{
//  	padding-bottom: 10px;
// 	padding-top: 20px;
// 	background: url(bg-foot.png) !important;
// 	margin-bottom: 10px;
//  }

footer{
	border-top: gray solid 4px; 
	.row{
		margin-right: 0px;
		margin-left: 0px;
		background-color: brown;
	}

	.last{
		background-color: #111 !important;
		border-top: 1px solid #000;
		text-align: left;
		padding-top: 10px;
		padding-bottom: 5px;
		p.l{
			float: left;
			margin-left: 50px;
		}

		p.r{
			float: right;
			margin-right: 50px;
		}

	}

	div{
		text-align: center;
		color: white;
	}
}

.no-pad{
	padding: 0px !important;
}

img.img-last{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}	

.soc-t{
	position: absolute;
	top: 35px;
	right: 70px;
	a{
		img{
			display: block;
			width: 100%;
		}
	}
}
.soc-f{
	position: absolute;
	top: 35px;
	right: 115px;
	a{
		img{
			display: block;
			width: 100%;
		}
	}
}


