// Place all the styles related to the Chart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail{
	margin-top: 20px;
	margin-bottom: 20px;
	img{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.caption{
		text-align: center;
		h4{
			font-weight: bolder;
		}
		p{
			font-size: .8em;
		}
	}
}

ul.custom-nav{
	background: none !important;
	li{
		list-style: none;
		float: left;
		width: 20%;
		text-align: center !important;
		border-bottom: 1px solid #333;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		a{
			display: block !important;
			border: none !important;
			padding: 10px 0 10px 0;
			text-decoration: none;
			color: #333;
		}
		a:hover{
			background-color: #333 !important;
			color: #fff;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		}
	}

	li.active{
		background-color: #333;
		border-top: 1px solid #333;
		border-left: 1px solid #333;
		border-right: 1px solid #333;
		border-bottom: none;

		a{
			display: block !important;
			border: none !important;
			padding: 10px 0 10px 0;
			text-decoration: none;
			color: #fff;

		}
	}
}

.tab-content{
	padding-top: 60px;
}

ul.test{
	width: 100%;
	// list-style: none;
	// float: left;
	li{
		list-style: none;
		float: left;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding: 15px;
		border: 1px solid #333;
	}
}





















