// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event{

    margin-top: 40px;
    border-bottom: 2px #333 dotted;
    padding-bottom: 20px;

    .event-img{
        margin-bottom: 20px;

        img{
            width: 100%;

        }
    }

    .event-content{
        font-size: 20px;
        b{
            font-weight: bolder;
        }
    }

    .event-show{

        text-align: right;
    }
}