// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ico{
	position: absolute;
	left: 10%;
	top: 22%;
	}
	.so
	{
		position: absolute;
		right: 14%;
		top: 33%;
	}
.info{
	h2{
		text-align: center;
	  }
}

footer {
	.row
	{
		background-color: #2F361C;
	}
	.last
	{
		background-color: #333;
	}
}

.ula{
	padding: 0;
	li{
		padding: 10px;
		border-bottom: 1px solid white;
		width: 100%;
	}
a{
	text-decoration: none;
		color: #fff;
	}
	a:hover {
		color: #111;
	}
	a:links {
		color: #fff;
	}
}

.info{
	margin-bottom: 30px;
	h4{
		font-size: 1.1em;
		font-weight: bolder;
		text-decoration: underline;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	p{
		text-indent: 30px;
		text-align: justify;
		font-size: .9em;
		span{
			font-weight: bolder;
		}
	}

	img{
		max-width: 100%;
		margin: 20px auto 30px auto;
		display: block;
	}

	table{
		margin-top: 20px;
		margin-bottom: 20px;
		td.center{
			text-align: center;
		}
		td.last{
			border-bottom: 1px solid #ddd;
		}
	}

	a{
		margin-top: 20px;
		color: #333;
		text-align: center;
		display: block;
	}
	a:hover{
		color: #000;
		text-decoration: none;
	}

}



