// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ico{
	position: absolute;
	left: 10%;
	top: 22%;
	}
	.so
	{
		position: absolute;
		right: 14%;
		top: 33%;
	}
.info{
	h2{
		text-align: center;
	  }
}
footer {
	.row
	{
		background-color: #211300;
	}
}

.ula{
	border-bottom: 1px solid white;
	width: 100%;
a{
	text-decoration: none;
		color: #fff;
	}
	a:hover {
		color: #111;
	}
	a:links {
		color: #fff;
	}
}