// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h4.right{
    float: right;
}
h2.center{
    text-align: center;
}
p.news{
        text-indent: 40px;
        text-align: justify;
}