// Place all the styles related to the Report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
i.fix-i{
	font-size: 1.5em;
}

table.pdf-only{
	thead{
		tr{
			th{
				text-align: center;
				background-color: rgba(91, 111, 57, 0.46) !important;
			}
		}
	}
	tbody{
		tr{
			td{
				font-size: .8em !important;
				a{
					text-decoration: none;
					color: #555;
					font-weight: bolder;
				}
				a:hover{
					color: #000;
					text-decoration: underline;
				}
			}
		}
	}
}
