<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>สำนักงานเทศบาลตำบลปากน้ำ</h2>
		<p>หมู่ที่ 1 ตำบล ปากน้ำ อำเภอ เดิมบางนางบวช จังหวัด สุพรรณบุรี 72120 โทรศัพท์ : 035-430644 โทรสาร : 035-430645</p>
	</div>
</div>

<div class="row last">
	<p class="l"><%= fa_icon("copyright", text: "  2014 Paknam Suphanburi") %></p>
	<p class="r"> <%= link_to( fa_icon("sitemap", text: "  Site Map"), sitemap_path) %> |  <%= link_to( fa_icon("users", text: "  ระบบเจ้าหน้าที่"), admin_root_path) %> </p>
</div>